# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Installed packages
elpa/*

# Internal Files
auto-save-list/*
abbrev_defs
recentf
ac-comphist.dat
snippets/*
